/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Custom Font */
@font-face {
    font-family: 'Aniron';
    src: url('../fonts/anirm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Basic styles */
body {
    background-color: #334A51;
    font-family: 'Aniron';
    color: #96AFB8;
}
#heading {
    background-color: #334A51;
    font-family: 'Aniron';
    text-align: center;
    color:#FFD1AE;
    font-size: 3em;

}

/* Home Styles */

#landing div {
    position: relative;
    text-align: center;
}
#landing h2 {
    text-align: center;
    color:#94E7FF;
    padding: 0 40px;
}

#landing p {
    text-align: center;
    color:#96AFB8;
    padding: 0 40px;
}

.additions {
    display:inline-flex;
    padding: 20px 30px;
    background:#334A51;
    cursor: pointer;
    border: 4px outset #69787d;
    border-radius: 10px;
    outline: invert;
    width: 300px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.knowledge {
    display:inline-flex;
    padding: 20px 30px;
    background:#334A51;
    cursor: pointer;
    border: 4px outset #69787d;
    border-radius: 10px;
    outline:invert;
    width: 300px;
    height: 120px;
}

.adventure {
    display:inline-flex;
    padding: 20px 30px;
    background:#334A51;
    cursor: pointer;
    border: 4px outset #69787d;
    border-radius: 10px;
    outline:invert;
    width: 300px;
    height: 120px;
}

.hidden {
    display: none;
}

/* Game Entry Styles */
#moria {
    background: url(../images/moria.jpeg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-position: 75%;
    padding: 10px 5% 0 5%;
}


/* Game Styles */
