/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Custom Font */
@font-face {
    font-family: 'Aniron';
    src: url('../fonts/anirm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Basic styles */
body {
    background-color: #334A51;
    font-family: 'Aniron';
    color: #96AFB8;
}
#heading {
    background-color: #334A51;
    font-family: 'Aniron';
    text-align: center;
    color:#FCFCD4;
    font-size: 3em;

}

/* Home Styles */

#landing div {
    position: relative;
    text-align: center;
    padding: 0 20em;
    box-shadow: 0 3px 3px #94E7FF;
}
#landing h2 {
    text-align: center;
    color:#94E7FF;
    padding: 0 40px;
}

#landing p {
    text-align: center;
    color:#96AFB8;
    padding: 0 40px;
}
/* Game Entry Styles */
#moria {
    background: url(../images/moria.jpeg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-position: 75%;
    padding: 10px 5% 0 5%;
}


/* Game Styles */
