/*Asterix wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Custom Font */
@font-face {
    font-family: 'Aniron';
    src: url('../fonts/anirm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Basic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #334A51;
    font-family: 'Aniron';
    color: #94E7FF;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

#heading {
    position: relative;
    background-color: #334A51;
    font-family: 'Aniron';
    text-align: center;
    color:#FFD1AE;
    font-size: 2em;
    margin-bottom: 40px;
}


/* Home Styles */
button {
    font-family: 'Aniron';
    text-align: center;
    padding: 0 40px;
    font-size: larger;
    display:flex;
}
#landing div {
    position: relative;
    text-align: center;
}

/* Modal Button, Box and Content Styles*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  #myBtn {
    text-align: center;
    color:#94E7FF;
    padding: 0 40px;
    background:#334A51;
    cursor: pointer;
    border: 4px outset #69787d;
    border-radius: 10px;
    width: 18rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    height:clamp(300px, 70%, 600px);
    font-size: 12px;
    background-color: #69787d;
    color:#94E7FF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    overflow-y: auto;
    border: 1px solid #888;
    border-radius: 5%;
    text-align: center;
    width: clamp(300px, 80%, 1000px); /* Could be more or less, depending on screen size */
  }
  .hidden-p {
    text-align: center;
    padding-top: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Adventure Button Styling*/

#adventure-btn {
    text-align: center;
    color:#94E7FF;
    padding: 0 40px;
    background:#334A51;
    cursor: pointer;
    border: 4px outset #69787d;
    border-radius: 10px;
    width: 18rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Game Entry Styles */

#moria {
    background: url(../images/moria.jpeg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: none;
    background-position: 50%;
    padding: 10px 5% 0 5%;
    box-shadow: inset 3px 3px 20px 9px #94E7FF;
}

#riddle {
    width: 100%;
    height: 30px;
    position: relative;
    padding: 30px;
    background: #94e7ff91;
    font-family: 'Aniron';
    color:#94E7FF;
    text-align: center;
    font-size: small;
    top: 450px;
}
::placeholder { /* code acquired from W3Schools*/
    color:#334A51;
    font-weight: bolder;
}
/* Game Styles */
#myGame{
    display:none;
}
.game-container {
    width: 18.75em;
    height: 25em;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    background: #96AFB8;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    perspective: 1000px;
}
.card {
    width: 21%;
    height: 19%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
}
.card:active .view {
    transform: scale(.97);
    transition: transform .3s;
}
.card.flip {
    transform: rotateY(-180deg);
}
/* placing the cards on top of each other*/
.front,
.back {
    width: 110%;
    height: 125%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5%;
}
.back {
    transform: rotateY(180deg);
}

/*In-game buttons*/

#topBtns {
    display: none;
}
#bottomBtns {
    display: none;
}
.timer {
    display: flex;
    padding: 0 10px;
    font-size: medium;
    position:relative;
    left: -90px;
    margin: 10px 10px 10px 30px;
    border-radius: 5px;
    color:#334A51;
    background-color: #96AFB8;
}
.countdown {
    color:#94E7FF;
}
.reset {
    display: flex;
    padding: 0 10px;
    font-size: medium;
    position:relative;
    left: -90px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 5px;
    color:#334A51;
    background-color: #96AFB8;
}
.homeBtn {
    display: flex;
    padding: 0 10px;
    font-size: medium;
    position:relative;
    left: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    color:#334A51;
    background-color: #96AFB8;
    top: -35px;
}

/* Media quiries*/

/* Tablets and up */
@media screen and (min-width: 768px) {

    #myBtn, #adventure-btn {
    width: 30rem;
    height: 10rem;
    margin-bottom: 20px;
}

.game-container {
    width: 30em;
    height: 30em;
}
.front, .back {
width: 100%;
height: 125%;
}

#riddle {
    font-size: large;
    width: 70%;
    left: 100px;
}
}


/*Laptops and above*/
@media screen and (min-width: 992px) {

#title {
    font-size: 2.5em;
}
#myBtn, #adventure-btn  {
    width: 60rem;
    height: 13rem;
    margin-bottom: 20px;
}
.hidden-p {
    padding: 50px 30px;
}

.game-container {
    width: 45em;
    height: 40em;
}
.front, .back {
    width: 100%;
    height: 125%;
}

#riddle {
    left: 160px;
    font-size: large;
    top: 700px;
}
}
@media screen and (min-width: 1440px) {
    #riddle {
        top: 750px;
        left: 200px;
        font-size: x-large;
    }
    .game-container {
        width: 45em;
        height: 40em;
    }
    
    .timer {
        top: 50px;
        left: 0px;
        font-size: larger;
    }
    .reset {
        left: -250px;
    }
    .homeBtn {
        left: 300px;
    }

}
